
.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
}
.portfolio-item{
    background: #d6d7d9;
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    text-align: center;

}
.portfolio-item:hover{
    border-color: #532f49;
    background: transparent;
    
}
.portfolio-item:hover .hover{
    display: inline-block;
    
}
.portfolio-item-img{
    width: 100%;
    border-radius: 1.5rem;
    overflow: hidden;
}
.hover{
    margin-top: 1rem;
    display: none;
}
.portfolio-item h5{
    margin: 1rem;
    font-weight: bold;
}
@media screen and (max-width:1024px) {
    .portfolio-container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

@media screen and (max-width:600px) {
    .portfolio-container{
        grid-template-columns: 1fr ;
        gap: 1rem;
    }
   
}
