footer {
    text-align: center;
    margin-top: 20px;
}
i{
    margin-left: 10px;
}
a{
    color:black;
}
a:hover{
    color:#532f49;
}
.container-sm{
    /* width: 60%;
    height: 75%; */
    padding: 30px;
    background-color:#aeb0b5 ;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
}