.main{
    
    width:auto;
    margin:20px;
   
    
}


img{
    width: 70%;
    margin-top: 55px;
  
}
img:hover{
    transform:rotate(10deg);
    
}
p{
    text-align: start;
    
}
/* .title{
    margin-top: 20px;
} */
